
.resume {
    display: block;
    padding-top: 5px;
    text-decoration: none;
    color: black;
    border: 2px black solid;
    border-radius: 2em;
    width: 250px;
    margin: auto;
    margin-bottom: 20px;
    background-color: whitesmoke
}

.resume:hover {
    background-color: black;
    border: 2px whitesmoke solid;
    color: whitesmoke;
}


h3 {
    text-align: center;
    width: 350px;
    font-weight: 800;
}





body {
    margin: 0;
    display: block;
    background-color: #E9C3D4;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    /* background-position: bottom; */
    font-family: 'Gothic A1', sans-serif;
}



/* Mobile Styles */
@media only screen and (max-width: 630px) {
    .header {
        width: auto;
        padding-top: 30px;
        height: 350px;
        background: url(images/flowers.jpg) no-repeat center;
        background-size: auto;
        margin-top: -60px;
        /* margin-right: -200px; */
        /* font-family: 'Amatic SC', cursive;
        font-family: 'Economica', sans-serif; */
        font-family: 'Unica One', cursive;
        font-weight: 900;
        color: whitesmoke;
        text-shadow: 0 0 0 whitesmoke , 0 0 0 whitesmoke , 0 0 0 whitesmoke , 0 0 30px #612331, 0 0 60px #612331, 0 0 70px #612331, 0 0 100px #612331;
    }

    #headshot {
        clip-path: circle();
        width: 60%;
        height: auto;
        margin-top: -20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 4em;
        margin: auto;

        padding-top: 30px;
        width: 350px;
    }

    h2 {
        margin: auto;
        width: 350px;
        font-weight: 800;
    }

    p {
        text-align: justify;
        font-size: 1.1em;
    }

    .about {
        background-color: #A4C3B2;
        height: auto;
        margin-top: -28%;
        margin-bottom: 20px;
    }

    .about > p {
        padding-top: 28%;
        padding-left: 25px;
        padding-right: 25px;
        text-align: justify;
        font-size: 1.1em;
    }

    .about > div {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        font-size: 1.1em;
        font-weight: 900;
    }

    .code {
        height: auto;
        background: whitesmoke;
        margin: auto;
        padding-bottom: 20px;
    }

    .code > div {
        display: inline-block;
    }

    .code > div > p {
        margin: auto;
        padding-left: 3em;
        padding-right: 2em;

    }

    .icon {
        height: 45px;
        width: auto;
    }

    .icon2 {
        height: 50px;
        width: auto;
        margin: auto;
        padding: 3em 2em 0 3em;
    }

    #tech {
        width: 50%;
        height: auto;
    }

    .jackie {
        height: auto;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    #tech {
        width: 90%;
        height: auto;
        padding: 15px;
        border-radius: 2em;
        text-align: center;
    }

    .spec {
        padding-top: 45px;
        height: auto;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .trek {
        width: 90%;
        padding-right: 15px;
        text-align: justify;
        height: auto;
    }

    footer {
        background-color: whitesmoke;
        height: auto;
        font-family: 'Unica One', cursive;
        color: #A4C3B2;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 630px) and (max-width: 1025px) {
    .header {
        width: auto;
        padding-top: 30px;
        height: 350px;
        background: url(images/flowers.jpg) no-repeat center;
        background-size: auto;
        margin-top: -60px;
        /* margin-right: -200px; */
        /* font-family: 'Amatic SC', cursive;
        font-family: 'Economica', sans-serif; */
        font-family: 'Unica One', cursive;
        font-weight: 900;
        color: whitesmoke;
        text-shadow: 0 0 0 whitesmoke , 0 0 0 whitesmoke , 0 0 0 whitesmoke , 0 0 30px #612331, 0 0 60px #612331, 0 0 70px #612331, 0 0 100px #612331;
    }

    #headshot {
        clip-path: circle();
        width: 55%;
        height: auto;
        margin-top: -25%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 3em;
        margin: auto;

        padding-top: 30px;
        width: 350px;
    }

    h2 {
        margin: auto;
        width: 350px;
        font-weight: 800;
    }

    p {
        text-align: justify;
        font-size: 1.1em;
    }

    .about {
        background-color: #A4C3B2;
        height: auto;
        margin-top: -28%;
        padding-bottom: 20px;
    }

    .about > p {
        padding-top: 28%;
        padding-left: 25px;
        padding-right: 25px;
        text-align: justify;
        font-size: 1.1em;
    }

    .about > div {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        font-size: 1.1em;
        font-weight: 900;
    }

    .code {
        height: auto;
        background: whitesmoke;
        margin: auto;
        padding-bottom: 20px;
    }

    .code > div {
        display: inline-block;
    }

    .code > div > p {
        margin: auto;
        padding-left: 3em;
        padding-right: 2em;

    }

    .icon {
        height: 45px;
        width: auto;
    }

    .icon2 {
        height: 50px;
        width: auto;
        margin: auto;
        padding: 3em 2em 0 3em;
    }

    .jackie {
        height: auto;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    #tech {
        width: 90%;
        height: auto;
        padding: 15px;
        border-radius: 2em;
        text-align: center;
    }

    .spec {
        padding-top: 45px;
        height: auto;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .spec > ax {
        padding-left: 40px;
    }

    .trek {
        width: 90%;
        padding-right: 40px;
        text-align: justify;
        height: auto;
    }

    footer {
        background-color: whitesmoke;
        height: auto;
        font-family: 'Unica One', cursive;
        color: #A4C3B2;
    }
}

/*Desktop Styles */
@media only screen and (min-width: 1025px) {
    .header {
        height: 500px;
        background: url(images/flowers.jpg) no-repeat center;
        background-size: initial;
        margin-top: -80px;
        /* font-family: 'Amatic SC', cursive;
        font-family: 'Economica', sans-serif; */
        font-family: 'Unica One', cursive;
        font-weight: 900;
        color: whitesmoke;
        text-shadow: 0 0 0 whitesmoke , 0 0 0 whitesmoke , 0 0 0 whitesmoke , 0 0 30px #612331, 0 0 60px #612331, 0 0 70px #612331, 0 0 100px #612331;
    }

    #headshot {
        clip-path: circle();
        width: 30%;
        height: auto;
        margin-top: -10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 6em;
        text-align: center;
        padding-top: 110px;
        margin-bottom: 0;
    }

    h2 {
        text-align: center;
        font-size: 3em;
        font-weight: 800;
        margin-top: 30px;
    }

    p {
        text-align: justify;
        font-size: 1.1em;
    }

    .about {
        background-color: #A4C3B2;
        height: auto;
        margin-top: -12%;
        padding-bottom: 20px;
    }

    .about > p {
        padding-top: 12%;
        padding-left: 250px;
        padding-right: 250px;
        text-align: justify;
        font-size: 1.1em;
    }

    .about > div {
        padding-left: 150px;
        padding-right: 150px;
        text-align: center;
        font-size: 1.1em;
        font-weight: 900;
    }

    .code {
        height: auto;
        background: whitesmoke;
        margin: auto;
        padding-bottom: 20px;
    }

    .code > div {
        display: inline-block;
    }

    .code > div > p {
        margin: auto;
        padding-left: 2.5em;
        padding-right: 2em;

    }

    .icon {
        height: 45px;
        width: auto;
        padding: 5px;
    }

    .icon2 {
        height: 75px;
        width: auto;
        margin: auto;
        padding: 3em 2em 0 2.5em;
    }
    .jackie {
        height: 500px;
    }

    .jackie > h3 {
        padding-top: 50px;
    }

    .spec {
        padding-top: 45px;
        height: 500px;
    }

    /* .trek {
        float: right;
        width: 45%;
        padding-right: 15px;
        text-align: justify;
        height: 500px;
    } */

    #tech {
        float: left;
        padding: 15px;
        border-radius: 2em;
        width: 50%;
        height: auto;
    }

    .trek {
        float: right;
        width: 45%;
        padding-right: 15px;
        text-align: justify;
    }

    footer {
        background-color: whitesmoke;
        height: 50px;
        font-family: 'Unica One', cursive;
        color: #A4C3B2;
        font-size: 1.9em;
    }
}